/* Created and designed by Rovota */
/* ---------------------- */

scroller {
    height: 100vh; display: block;
    overflow-y: auto; overflow-x: hidden;
    scroll-behavior: smooth;
}

scroller::-webkit-scrollbar-track {
    background: rgba(var(--color-base), 1);
}

view {
    display: flex;
    flex-direction: column;
}

container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    max-width: 1200px;
}

container.limit-width {
    max-width: 900px;
}

.no-padding {
    padding: 0;
}

/* ---------------------- */
/* View & Layout */

page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

page > section {
    display: flex; justify-content: center;
    align-items: center; width: 100%; padding: 40px 0;
    background: rgba(var(--color-base), 1);
}

page > section > container > grid {
    gap: 50px;
}

/* ---------------------- */

/* ---------------------- */

/* ---------------------- */

/* ---------------------- */

/* ---------------------- */

/* ---------------------- */

/* ---------------------- */
/* Media Queries */

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 900px) {
    container {
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 650px) {
    container {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 400px) {
}

/* ---------------------- */
/* Reduced Motion */

@media (prefers-reduced-motion) {
}

/* ---------------------- */
/* Printing */

@media print {
}