/* Created and designed by Rovota */
/* ---------------------- */

:root {
    --radius-small: 0;
    --radius-medium: 0;
    --radius-standard: 0;
    --radius-large: 0;
    --radius-infinite: 0;
    --radius-toggle: 0;
}