/* Created and designed by Rovota */
/* ---------------------- */

:root {
    --radius-small: 0; /* 4px */
    --radius-medium: 0; /* 6px */
    --radius-standard: 0; /* 10px */
    --radius-large: 0; /* 15px */
    --radius-infinite: 0; /* 100% */
    --radius-toggle: 0; /* 20px */
}